cis726.warningsystem/reading.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="reading">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="value" maxOccurs="1" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="value" type="xs:float"/>
</xs:schema>
